@import url('https://fonts.cdnfonts.com/css/futuristic');
@import url('https://fonts.cdnfonts.com/css/wix-madefor-display');

#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    font-family: 'Futuristic', sans-serif;
    z-index: 0;

    
}

.interface {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    pointer-events: none;

    
    
    
}

.interface_buttons {
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: end;
    height: 100vh;
    z-index: 20; 
  


}

.title {
    font-size: 5rem;
    width: 500px;
    text-align: center;
    letter-spacing: 8px;
    position: absolute;
    left: 0.5rem; 
    bottom: 0.5rem;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 0;
   
}

.line {
    width: 400px;
    background-color: #FFBF00;
    height: 2px;
    position: absolute;
    left: 5rem;
    bottom: 3.5rem;

}



.interface_buttons button {
    clip-path: polygon(
        0% 0%, 90% 0%,
        100% 10%, 
        100% 100%, 
        10% 100%, 
        0% 90% 
      );
      width: 300px;
      background-color:transparent;
      color: #fff;
      outline: none;
      padding: 10px 10px;
      border: 2px solid #fff;
      cursor: pointer;
      transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
      z-index: 30;
      pointer-events: auto;
  
      
     
    
    
      
}

.interface_buttons button:hover {
    background-color: #fff;
    color: #191919;
    font-weight: bold;
}


.buttons {
    position: absolute;
    top: 4rem;
    right: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    pointer-events: auto;

}

.menu {
    position: absolute;
    right: 40px;
    top: 20px;
    pointer-events: auto;
    cursor: pointer;
}

.menu div {
    width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;


  
} 

.menu div:nth-of-type(2) {
    background-color: #FFBF00;
    margin-left: -10px;
    font-weight: bold;
    width: 30px;
}

.sections {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    right: 30px;
    top: 16rem;
    opacity: 0;
    pointer-events: none;
}

.sections div {

    background-color: #FFBF00;
    width: 15px;
    height: 15px;
    clip-path: polygon(
        0% 0%, 90% 0%,
        100% 10%, 
        100% 100%, 
        10% 100%, 
        0% 90% 
      );
      border: 2px solid transparent;
      transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      pointer-events: auto;
      cursor: pointer;
   
}

.sections div:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

.hovered {
    display: inline-block;
    position: relative;
    top: 14.5rem;
    right: 5rem;
}

.hovered p {
    font-size: 20px;
    margin-top: 27px;
    position: relative;

}

.hovered p::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -10px;
  transition: width 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.intro-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    top: -30px;
    left: -70px;
    padding: 7rem;
}

.intro-line {
    top: 14rem;
    left: 110px;
    
    height: 1px;
}

.intro-page h1 {
    font-size: 3.5rem;
}

.intro-page p {
    font-family: 'Wix Madefor Display', sans-serif;
    font-style: italic;
    width: 40%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.orbit-page {
    left: 48%;
}


.surface-page {
    left: -50px;
}


